.navbar {
  display: flex;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 24px;
  height: 60px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}


.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 1px;

  .logo {
    font-size: 25px;
    padding: 2px 5px;
    border: 2px solid;
    background-color: var(--mat-sys-primary);
    border-radius: 8px;
    color: var(--mat-sys-surface-container);

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  .title {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: var(--mat-sys-primary);

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 8px;

  .create-post-btn {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 0 12px;
    font-weight: 600;
    transition: all 0.3s ease;

    mat-icon {
      font-size: 16px;
    }

    &:hover {
      transform: translateY(0.5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 768px) {
      border-radius: 12px;
      padding: 0 6px;
      transition: all 0.3s ease;


      mat-icon {
        margin: 0px;
      }
    }

    @media (max-width: 500px) {
      border-radius: 8px;
      min-width: 30px;
      height: 30px;

      span {
        display: none;
      }

      mat-icon {
        font-size: 20px;
        padding: 0;
        width: 20px;
        height: 20px;
      }
    }
  }

  .notification-btn,
  .theme-toggle-btn,
  .user-menu-btn {
    transition: all 0.2s ease;
    height: 50px;
    width: 50px;

    mat-icon {
      font-size: 32px;
      height: 32px;
      width: 32px;
    }

  }

  .user-menu-btn {
    .user-avatar {
      width: 32Px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid var(--mat-sys-primary);
    }

    .default-avatar {
      font-size: 32px;
      padding: 0;
      color: var(--mat-sys-primary);
    }
  }
}

// User Dropdown Menu
::ng-deep {
  .cdk-overlay-pane {
    .mat-mdc-menu-panel {
      margin-top: 1rem;
      border-radius: 10px;

      .mat-mdc-menu-content {
        padding: 0;

        .mat-mdc-menu-item {
          &:hover mat-icon {
            color: var(--mat-sys-primary);
          }

          &:hover {
            color: var(--mat-sys-primary);
          }
        }
      }
    }
  }
}