@use '@angular/material' as mat;
@import './theme.css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
}

.dark-mode {
  color-scheme: dark;
}

// html,
// h1,
// h2,
// h3,
// h4,
// h5 {
//   font-family: 'Montserrat', sans-serif;
// }