.admin-dashboard {
  padding: 2rem;
  display: flex;
  justify-content: center;

  .dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
  }

  .stats-section {
    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--mat-sys-primary);
      margin: 65px 0 0 0;
    }

    p {
      font-size: 2rem;
      margin-top: 2px;
      color: var(--mat-sys-on-surface-variant);
    }

    .stats-boxes {
      margin-top: 10rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 1rem;

      .stat-card {
        mat-card-content {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          padding: 1.5rem !important;

          .stat-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 12px;
            background-color: var(--mat-sys-surface-variant);

            mat-icon {
              font-size: 32px;
              width: 32px;
              height: 32px;
            }
          }

          .stat-info {
            flex: 1;

            h3 {
              font-size: 2rem;
              font-weight: 700;
              margin: 0 0 0.25rem 0;
              color: var(--mat-sys-on-surface);
            }

            p {
              font-size: 0.875rem;
              color: var(--mat-sys-on-surface-variant);
              margin: 0;
            }
          }
        }
      }

      .users-card .stat-icon {

        mat-icon {
          color: #1976d2;
        }
      }

      .posts-card .stat-icon {

        mat-icon {
          color: #388e3c;
        }
      }

      .reports-card .stat-icon {

        mat-icon {
          color: #f57c00;
        }
      }

      .most-reported-card .stat-icon {

        mat-icon {
          color: #d32f2f;
        }
      }
    }
  }

  .details-section {
    background: var(--mat-sys-surface-container);
    border-radius: 12px;
    padding: 1.5rem;
    height: 87vh;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

    h2 {
      margin-top: 0;
    }
  }

  @media (max-width: 900px) {
    .dashboard-grid {
      grid-template-columns: 1fr;
    }
  }
}