.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);
  padding: 24px;

  @media (max-width: 768px) {
    min-height: calc(100vh - 56px);
    padding: 16px;
  }
}
